{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}</title>
  {% include "head.html" %}
  {% block extra_head %}{% endblock extra_head %}
  <link rel="icon" type="image/ico" href="/static/favicon.ico" />
</head>
<body class="{% block class_body %}{% endblock class_body %}">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Metrello</h3>
        <nav class="nav nav-masthead justify-content-center">
          {% block links_top %}
          <a class="nav-link active" href="{% url 'inicio' %}">Inicio</a>
          <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
          {% endblock links_top %}
        </nav>
      </div>
    </header>
    
    {% block content %}{% endblock content %}
    {% block footer %}{% include "footer.html" %}{% endblock footer %} 
  
  </div>
  <div class="loading" id="loader"></div>

  {% include "js.html" %}
  {% block extra_js %}{% endblock extra_js %}
  <script type="text/javascript">
  $(document).ready(function () {
    $("#loader").removeClass('loading');
  })
  </script>
</body>
</html>
