{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

{% endblock extra_head %}

{% block title %} Dashboard - metrello {% endblock title %}
{% block links_top %}
<a class="nav-link" href="#" id="text_username">...</a>
<a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
<a class="nav-link active" href="#">Dasboard</a>
<a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
<a class="nav-link" href="#" id="salir" >Salir</a>
{% endblock links_top %}

{% block class_cover %}cover-container-large{% endblock class_cover %}

{% block content %}
<p class="lead" style="text-align: center;">
  <a href="#" class="btn btn-primary btn-lg" id="open_modal_lista"><i class="fa fa-plus"></i></a>
</p>


<div class="row" id="listas">
</div>



<div class="modal fade" id="modal_lista" tabindex="-1" role="dialog" aria-labelledby="lista_label_titulo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lista_label_titulo">Nueva lista</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Titulo</label>
            <input type="text" class="form-control" id="lista_titulo">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Prioridad</label>
            <select id="lista_priority" class="form-control">
              <option value="1">Alta</option>
              <option value="2">Media</option>
              <option value="3">Normal</option>
              <option value="4">Baja</option>
            </select>
          </div>          

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-action-name="add_list">Guardar</button>
        <button type="button" class="btn btn-primary hide" id="btn_list_update" data-action-name="update_list_click">Actualizar</button>
        
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_item" tabindex="-1" role="dialog" aria-labelledby="item_label_titulo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="item_label_titulo">Nuevo item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Titulo</label>
            <input type="text" class="form-control" id="item_titulo">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Prioridad</label>
            <select id="item_priority" class="form-control">
              <option value="1">Alta</option>
              <option value="2">Media</option>
              <option value="3">Normal</option>
              <option value="4">Baja</option>
            </select>
          </div>          
          <div class="form-group">
            <label for="message-text" class="col-form-label">Nota:</label>
            <textarea class="form-control" id="nota"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-action-name="add_item_click">Guardar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modal_tareas" tabindex="-1" role="dialog" aria-labelledby="item_label_tareas" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="item_label_tareas"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="lista_de_tareas"></ul>
      </div>
    </div>
  </div>
</div>


{% endblock content %}{% block extra_js %}
<script src="{% static 'scripts/dashboard.js' %}"></script>
{% endblock extra_js %}
