{% extends "base.html" %}

{% block title %} Metrello - Todo {% endblock title %}

{% block content %}

<main role="main" class="inner cover">
<h1 class="cover-heading">Todo List</h1>
<p class="lead">Con nuestra aplicaci&oacute;n podra ordenar toda su lista de actividades, tendra una herramienta Todolist practica, minimalista y facil de usar</p>
<p class="lead">
  <a href="{% url 'login' %}" class="btn btn-lg btn-primary">Ingresa</a>
</p>
</main>


{% endblock content %}

{% block class_body %}text-center{% endblock class_body %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function () {
	$("#loader").removeClass('loading');
})
</script>
{% endblock extra_js %}
